[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restx = "*"
flask-jwt-extended = "*"
flask-migrate = "*"
flask-login = "*"
jwt = "*"
flask-jwt = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
